*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  color: #212529;
  font-family: 'Roboto', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #dee2e6;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}
.logo_velke {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 600px;
}

h1 {
  color: #ec6333;
  text-align: center;
  font-family: 'Amatic SC', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 70px;
  margin: auto;
}

h2 {
  color: #dee2e6;
  background-color: #212529;
  text-align: left;
  font-family: 'Amatic SC', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 45px;
  margin: 0 auto;
  padding-left: 15px;
  line-height: 3.5rem;
}

h3 {
  font-family: 'Amatic SC', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}

.left {
  max-width: 200px;
  margin-left: -50px;
  margin-top: -50px;
}

/* hamburger menu*/
#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #dee2e6;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #ec6333;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #212529;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #dee2e6;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #212529;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}
/* konec hamburger menu*/

/* pro wireframes.html */
.list_of_wireframes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.list_of_wireframes img {
  max-width: 100%;
  height: auto;
}

figcaption {
  text-align: center;
}

/*
.img_responsive {
  height: auto;
  width: 50%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 100%;
}

.wireframe1 {
  background-image: url(img/homepage.png);
}
.wireframe2 {
  background-image: url(img/category.png);
}
.wireframe3 {
  background-image: url(img/category_detail.png);
}
.wireframe4 {
  background-image: url(img/detail.png);
}
.wireframe5 {
  background-image: url(img/pravidla.png);
}
*/

/* pro aboutus.html */
.aboutUsPage {
  margin-left: 0 auto;
}
.aboutUsPage p {
  padding: 0 20px;
}
.header {
  display: flex;
}

.margin_bottom {
  margin-bottom: 4em;
}
.gitButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.gitButtons a {
  height: 100%;
}

.gitButtons button {
  background-color: #212529;
  color: #dee2e6;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  padding: 30px;
  letter-spacing: 0.1em;
}

.gitButtons button:hover {
  color: #ec6333;
}

.cat_gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 50px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.cats {
  flex: 0 1 50%;
  position: relative;
  overflow: hidden;
}
.cats p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #ec6333;
  opacity: 0.6;
  background-color: #212529;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.4s;
  padding: 10px;
  margin: 0;
}

.cat {
  width: 100%;
  transition: transform 0.4s;
  display: block;
}

.cat:hover {
  transform: scale(1.1);
}
.cats:hover p {
  transform: translateY(0);
}

/* footer */
.footer_list {
  display: inline-grid;
  grid-gap: 30px;
  justify-items: center;
  margin: auto;
  list-style: none;
  letter-spacing: 0.1em;
}

@media (min-width: 500px) {
  ul {
    grid-auto-flow: column;
  }
}

.footer_item a {
  color: white;
  text-decoration: none;
}

.footer_item a:hover {
  color: #ec6333;
}

.footer {
  display: flex;
  width: 100%;
  background-color: #212529;
  color: #dee2e6;
  line-height: 57px;
  left: 0;
  bottom: 0;
}

/* konec footer */

/* pro howto.html*/
.swap_lists {
  font-size: 18px;
  line-height: 2em;
  padding-right: 20px;
}
